# @@([A-Za-z]+[A-Za-z\.]*)

'.source.feature':
  'Перейти к разделу':
    'prefix': 'GotoSection'
    'body': """
        #перейти к разделу системы <string>
        #@@GotoSection
        When Я открываю раздел системы "<string>"
    """

  'Перейти к подразделу':
    'prefix': 'GotoSubsection'
    'body': """
        #перейти к подразделу системы <string>
        #@@GotoSubsection
        Then Я выбираю в меню "<string>", "<string>"
        Then Я ожидаю, что заголовок содержит "<string>"
    """

  'Создать КПГЗ':
    'prefix': 'CreateNew.KPGZ.blank'
    'body':"""
        #создать новый КПГЗ
        #@@CreateNew.KPGZ.blank
        When Я нажимаю на кнопку создания
        Then Я заполняю генерируемое поле "Наименование КПГЗ", "<string>"
        Then Я выбираю в выпадающем списке с деревом "Вышестоящий КПГЗ"
        Then Я выбираю в выпадающем списке с деревом "Код ОКПД"
        Then Я выбираю в выпадающем списке с деревом "Код ОКПД-2", "<string>"
        Then Я нажимаю на кнопку сохранения
        Then Я ожидаю, что заголовок содержит "Информация о КПГЗ"
    """
