'.source.feature':

		'new-сharacteristic-blank':
				'prefix': 'new-сharacteristic-blank'
				'description': 'создание новой характеристики'
				'body':"""
						#создание характеристики
						Then Я нажимаю на кнопку создания
						Then Я заполняю поле "Наименование характеристики" сгенерированным тегом "[string]"
						 And Я выбираю значение "[string]" в поле с выпадающим списком "Признак"
						Then Я скроллю наверх
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация о характеристике"
				"""