'.source.feature':

		#создаем характеристику

		'new-characteristic':
				'prefix': 'new-characteristic'
				'description': 'Новая характеристика'
				'body':"""
						#создаем характеристику
						Then Я нажимаю на кнопку создания
						Then Я заполняю поле "Наименование характеристики" сгенерированным тегом "ТЕСТОВАЯ ХАРАКТЕРИСТИКА"
						 And Я выбираю значение "[string]" в поле с выпадающим списком "Признак"
						Then Я скроллю наверх
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация о характеристике"
				"""