'.source.feature':

		'add-commision-order-memeber-blank':
				'prefix': 'add-commision-order-memeber-blank'
				'description': 'undefined'
				'body':"""
						#добавление члена комиссии
						Then Я скроллю до блока "Список членов комиссии"
						 And Я нажимаю на кнопку создания
						 And Я выбираю элемент таблицы под номером 1 в поле Пользователь
						Then Я нажимаю на кнопку c названием "Сохранение Создание члена комиссии"
				"""

		'add-commision-memeber-blank':
				'prefix': 'add-commision-memeber-blank'
				'description': 'undefined'
				'body':"""
						#добавление члена комиссии
						Then Я нажимаю на кнопку c названием "Создание Члены комиссии"
						Then Я выбираю значение "[string]" в поле с выпадающим списком "Роль"
						 And Я выбираю значение "[string]" в поле с выпадающим списком "ФИО"
						Then Я нажимаю на кнопку c названием "Сохранение Создание члена комиссии"
				"""

		'new-commision-blank':
				'prefix': 'new-commision-blank'
				'description': 'undefined'
				'body':"""
						#создание комиссии
						Then Я нажимаю на кнопку создания
						 And Я заполняю поле "Наименование" текстом "[string]"
						 And Я выбираю сгенерированный тег "[string]" в поле с выпадающим списком "Приказ"
						 And Я выбираю значение "Единая" в поле с выпадающим списком "Тип"
						 And Я выбираю в поле с выпадающим списком "Организация (владелец комиссии)"
						#добавление члена комиссии
						Then Я нажимаю на кнопку c названием "Создание Члены комиссии"
						Then Я выбираю значение "Председатель" в поле с выпадающим списком "Роль"
						 And Я выбираю в поле с выпадающим списком "ФИО"
						Then Я нажимаю на кнопку c названием "Сохранение Создание члена комиссии"
						#добавление члена комиссии
						Then Я нажимаю на кнопку c названием "Создание Члены комиссии"
						Then Я выбираю значение "Секретарь с правом голоса" в поле с выпадающим списком "Роль"
						 And Я выбираю в поле с выпадающим списком "ФИО"
						Then Я нажимаю на кнопку c названием "Сохранение Создание члена комиссии"
						#добавление члена комиссии
						Then Я нажимаю на кнопку c названием "Создание Члены комиссии"
						Then Я выбираю значение "Член комиссии" в поле с выпадающим списком "Роль"
						 And Я выбираю в поле с выпадающим списком "ФИО"
						Then Я нажимаю на кнопку c названием "Сохранение Создание члена комиссии"
						#добавление члена комиссии
						Then Я нажимаю на кнопку c названием "Создание Члены комиссии"
						Then Я выбираю значение "Член комиссии" в поле с выпадающим списком "Роль"
						 And Я выбираю в поле с выпадающим списком "ФИО"
						Then Я нажимаю на кнопку c названием "Сохранение Создание члена комиссии"
						#добавление члена комиссии
						Then Я нажимаю на кнопку c названием "Создание Члены комиссии"
						Then Я выбираю значение "Член комиссии" в поле с выпадающим списком "Роль"
						 And Я выбираю в поле с выпадающим списком "ФИО"
						Then Я нажимаю на кнопку c названием "Сохранение Создание члена комиссии"
						Then Я скроллю наверх
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация о комиссии"
				"""

		'new-commision-order-blank':
				'prefix': 'new-commision-order-blank'
				'description': 'undefined'
				'body':"""
						#создание приказа
						Then Я нажимаю на кнопку создания
						 And Я заполняю поле "Наименование" текстом "[string]"
						 And Я заполняю поле "Номер приказа" текстом "666"
						 And Я выбираю значение "Департамент города Москвы по конкурентной политике" в поле с выпадающим списком "Организация (владелец комиссии)"
						 And Я кликаю по чекбоксу "Приказ/комиссия первого уровня"
						 And Я загружаю файл "uploadFiles/test.jpg" в поле "Текст приказа"
						 And Я заполняю календарь "Дата начала полномочий приказа", "27.11.2016"
						 And Я заполняю календарь "Дата приказа", "25.11.2016"
						#добавление члена комиссии
						Then Я скроллю до блока "Список членов комиссии"
						 And Я нажимаю на кнопку создания
						 And Я выбираю элемент таблицы под номером 1 в поле Пользователь
						Then Я нажимаю на кнопку c названием "Сохранение Создание члена комиссии"
						#добавление члена комиссии
						Then Я скроллю до блока "Список членов комиссии"
						 And Я нажимаю на кнопку создания
						 And Я выбираю элемент таблицы под номером 1 в поле Пользователь
						Then Я нажимаю на кнопку c названием "Сохранение Создание члена комиссии"
						#добавление члена комиссии
						Then Я скроллю до блока "Список членов комиссии"
						 And Я нажимаю на кнопку создания
						 And Я выбираю элемент таблицы под номером 1 в поле Пользователь
						Then Я нажимаю на кнопку c названием "Сохранение Создание члена комиссии"
						Then Я скроллю наверх
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация о приказе"
				"""