'.source.feature':

		#переход к разделу

		'goto':
				'prefix': 'goto'
				'description': 'Переход к разделу'
				'body':"""
						#переход к разделу "[string]", "[string]", "[string]"
						Then Я открываю раздел системы "[string]"
						Then Я выбираю в меню "[string]", "[string]"
						Then Я ожидаю, что заголовок содержит "[string]"
				"""

		#переход к разделу КПГЗ

		'goto-kpgz':
				'prefix': 'goto-kpgz'
				'description': 'Переход к разделу КПГЗ'
				'body':"""
						#переход к разделу "НСИ", "Справочник КПГЗ / СПГЗ", "КПГЗ"
						Then Я открываю раздел системы "НСИ"
						Then Я выбираю в меню "Справочник КПГЗ / СПГЗ", "КПГЗ"
						Then Я ожидаю, что заголовок содержит "Список КПГЗ"
				"""

		#переход к разделу СПГЗ

		'goto-spgz':
				'prefix': 'goto-spgz'
				'description': 'Переход к разделу СПГЗ'
				'body':"""
						#переход к разделу "НСИ", "Справочник КПГЗ / СПГЗ", "CПГЗ"
						Then Я открываю раздел системы "НСИ"
						Then Я выбираю в меню "Справочник КПГЗ / СПГЗ", "CПГЗ"
						Then Я ожидаю, что заголовок содержит "Список СПГЗ"
				"""

		#переход к разделу Характеристики

		'goto-characteristics':
				'prefix': 'goto-characteristics'
				'description': 'Переход к разделу Характеристики'
				'body':"""
						#переход к разделу "НСИ", "Справочник КПГЗ / СПГЗ", "Характеристики"
						Then Я открываю раздел системы "НСИ"
						Then Я выбираю в меню "Справочник КПГЗ / СПГЗ", "Характеристики"
						Then Я ожидаю, что заголовок содержит "Список характеристик"
				"""

		#переход к разделу ГРБС

		'goto-grbs':
				'prefix': 'goto-grbs'
				'description': 'Переход к разделу ГРБС'
				'body':"""
						#переход к разделу "НСИ", "Участники", "ГРБС"
						Then Я открываю раздел системы "НСИ"
						Then Я выбираю в меню "Участники", "ГРБС"
						Then Я ожидаю, что заголовок содержит "Список ГРБС"
				"""

		#переход к разделу Эксперты

		'goto-expert':
				'prefix': 'goto-expert'
				'description': 'Переход к разделу Эксперты'
				'body':"""
						#переход к разделу "НСИ", "Участники", "Эксперты"
						Then Я открываю раздел системы "НСИ"
						Then Я выбираю в меню "Участники", "Эксперты"
						Then Я ожидаю, что заголовок содержит "Список экспертов"
				"""

		#переход к разделу Регулирующие органы исполнительной власти

		'goto-participant-regulator':
				'prefix': 'goto-participant-regulator'
				'description': 'Переход к разделу Регулирующие органы исполнительной власти'
				'body':"""
						#переход к разделу "НСИ", "Участники", "Регулирующие органы исполнительной власти"
						Then Я открываю раздел системы "НСИ"
						Then Я выбираю в меню "Участники", "Регулирующие органы исполнительной власти"
						Then Я ожидаю, что заголовок содержит "Список регулирующих органов исполнительной власти"
				"""

		#переход к разделу Контрольные органы в сфере закупок

		'goto-controller':
				'prefix': 'goto-controller'
				'description': 'Переход к разделу Контрольные органы в сфере закупок'
				'body':"""
						#переход к разделу "НСИ", "Участники", "Контрольные органы в сфере закупок"
						Then Я открываю раздел системы "НСИ"
						Then Я выбираю в меню "Участники", "Контрольные органы в сфере закупок"
						Then Я ожидаю, что заголовок содержит "Список контрольных органов в сфере закупок"
				"""