'.source.feature':

		'new-kpgz-blank':
				'prefix': 'new-kpgz-blank'
				'description': 'undefined'
				'body':"""
						#создание КПГЗ
						Then Я нажимаю на кнопку создания
						 And Я заполняю поле "Наименование КПГЗ" сгенерированным тегом "[string]"
						 And Я выбираю сгенерированный тег "[string]" в поле с выпадающим списком "Вышестоящий КПГЗ"
						 And Я выбираю значение "[string]" в поле с выпадающим списком "Код ОКПД"
						 And Я выбираю значение "[string]" в поле с выпадающим списком "Код ОКПД-2"
						 And And Я сохраняю новый КПГЗ
						Then Я ожидаю, что заголовок содержит "Информация о КПГЗ"
				"""

		'add-characteristic-blank':
				'prefix': 'add-characteristic-blank'
				'description': 'добавление характеристики в КПГЗ'
				'body':"""
						#добавление характеристики
						Then Я скроллю до блока "Характеристики"
						Then Я нажимаю на кнопку создания в блоке Характеристики
						Then Я выбираю сгенерированный тег "[string]" в поле с выпадающим списком "Характеристика"
						 And Я выбираю значение "[string]" в поле с выпадающим списком "Вид характеристики"
						Then Я нажимаю на кнопку c названием "Сохранение Создание характеристик" в блоке Характеристики
						Then Я ожидаю, что в списке "Характеристики" будет элементов = 1
				"""