'.source.feature':

		#новый КПГЗ

		'new-kpgz':
				'prefix': 'new-kpgz'
				'description': 'Новый КПГЗ'
				'body':"""
						#переход к разделу "НСИ", "Справочник КПГЗ / СПГЗ", "КПГЗ"
						Then Я открываю раздел системы "НСИ"
						Then Я выбираю в меню "Справочник КПГЗ / СПГЗ", "КПГЗ"
						Then Я ожидаю, что заголовок содержит "Список КПГЗ"
						#создаем КПГЗ
						Then Я нажимаю на кнопку создания
						 And Я заполняю поле "Наименование КПГЗ" сгенерированным тегом "[string]"
						 And Я выбираю сгенерированный тег "[string]" в поле с выпадающим списком "Вышестоящий КПГЗ"
						 And Я выбираю значение "[string]" в поле с выпадающим списком "Код ОКПД"
						 And Я выбираю значение "[string]" в поле с выпадающим списком "Код ОКПД-2"
						#And Я сохраняю новый КПГЗ
						Then Я ожидаю, что заголовок содержит "Информация о КПГЗ"
				"""