'.source.feature':
  'Создать КПГЗ':
    'prefix': 'new-kpgz-blank'
    'description': 'Создать КПГЗ (бланк)'
    'body':"""
        #создать новый КПГЗ
        #@@CreateNew.KPGZ.blank[v1.0.0]
        When Я нажимаю на кнопку создания
        Then Я заполняю генерируемое поле "Наименование КПГЗ", "<string>"
        Then Я выбираю в выпадающем списке с деревом "Вышестоящий КПГЗ"
        Then Я выбираю в выпадающем списке с деревом "Код ОКПД"
        Then Я выбираю в выпадающем списке с деревом "Код ОКПД-2", "<string>"
        Then Я нажимаю на кнопку сохранения
        Then Я ожидаю, что заголовок содержит "Информация о КПГЗ"
    """

    'Удалить КПГЗ':
      'prefix': 'delete-kpgz-byName'
      'description': 'Удалить КПГЗ (по наименованию)'
      'body':"""
          #найти КПГЗ по наименованию и удалить
          #@@CreateNew.KPGZ.blank[v1.0.0]
          When Я заполняю генерируемое поле фильтра "Наименование КПГЗ", "<string>"
          And  Я жду <int> сек.
          Then Я ожидаю, что в списке будет элементов = 1
          When Я выбираю чекбокс
          And  Я нажимаю на кнопку удаления
          And  Я нажимаю на кнопку подтверждения удаления "Удалить"
          And  Я нажимаю на кнопку подтверждения удаления "Принять"
          And  Я жду <int> сек.
          Then Я ожидаю, что в списке будет элементов = 0
      """
