'.source.feature':

		'new-cost-rate-blank':
				'prefix': 'new-cost-rate-blank'
				'description': 'создание новой нормы затрат'
				'body':"""
						#создание нормы затрат
						Then Я нажимаю на кнопку создания
						Then Я нажимаю на кнопку c текстом "Далее"
						 And Я выбираю сгенерированный тег "[string]" в поле с выпадающим списком "КПГЗ"
						 And Я выбираю в поле с выпадающим списком "Коэффициент потребности"
						 And Я заполняю поле "Норма затрат, руб." текстом "123123"
						 And Я выбираю в поле с выпадающим списком "Организация"
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация о норме затрат"
				"""

		'new-rationing-parameters-blank':
				'prefix': 'new-rationing-parameters-blank'
				'description': 'создание нового параметра нормирования'
				'body':"""
						#создание параметра нормирования
						Then Я нажимаю на кнопку создания
						 And Я выбираю сгенерированный тег "[string]" в поле с выпадающим списком "СПГЗ"
						 And Я выбираю в поле с выпадающим списком "Амортизационная группа"
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация о параметре нормирования"
				"""

		'new-requirement-ratio-blank':
				'prefix': 'new-requirement-ratio-blank'
				'description': 'создание нового коэффициента потребности'
				'body':"""
						#создание коэффициента потребности
						Then Я нажимаю на кнопку создания
						 And Я выбираю сгенерированный тег "[string]" в поле с выпадающим списком "Наименование коэффициента"
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация о коэффициенте потребности"
				"""