'.source.feature':

		#визард участинка (тип 1) физлицо

		'participant-wizard-type1-fl':
				'prefix': 'participant-wizard-type1-fl'
				'description': 'Визард участинка (тип 1) физлицо'
				'body':"""
						#Заполнение визарда
						Then Я заполняю поле "ИНН" новым кодом ИНН(ФЛ) "[string]"
						 And Я заполняю поле "КПП" текстом "[string]"
						Then Я нажимаю на кнопку подтверждения
						Then Я нажимаю на кнопку подтверждения
				"""

		#визард участинка (тип 1) юрдицо

		'participant-wizard-type1-ul':
				'prefix': 'participant-wizard-type1-ul'
				'description': 'Визард участинка (тип 1) юрлицо'
				'body':"""
						#Заполнение визарда
						Then Я заполняю поле "ИНН" новым кодом ИНН(ЮЛ) "[string]"
						 And Я заполняю поле "КПП" текстом "[string]"
						Then Я нажимаю на кнопку подтверждения
						Then Я нажимаю на кнопку подтверждения
				"""

		#визард участинка (тип 2) физлицо

		'participant-wizard-type2-fl':
				'prefix': 'participant-wizard-type2-fl'
				'description': 'Визард участинка (тип 2) физлицо'
				'body':"""
						#Заполнение визарда
						Then Я выбираю значение "Российская Федерация" в поле с выпадающим списком "Страна"
						Then Я нажимаю на кнопку c текстом "Далее"
						Then Я заполняю поле "ИНН" новым кодом ИНН(ФЛ) "[string]"
						Then Я нажимаю на кнопку c текстом "Далее"
						Then Я заполняю поле "КПП" текстом "[string]"
						Then Я нажимаю на кнопку c текстом "Далее"
						Then Я нажимаю на кнопку c текстом "Далее"
				"""

		#визард участинка (тип 2) юрлицо

		'participant-wizard-type2-ul':
				'prefix': 'participant-wizard-type2-ul'
				'description': 'Визард участинка (тип 2) юрлицо'
				'body':"""
						#Заполнение визарда
						Then Я выбираю значение "Российская Федерация" в поле с выпадающим списком "Страна"
						Then Я нажимаю на кнопку c текстом "Далее"
						Then Я заполняю поле "ИНН" новым кодом ИНН(ЮЛ) "[string]"
						Then Я нажимаю на кнопку c текстом "Далее"
						Then Я заполняю поле "КПП" текстом "[string]"
						Then Я нажимаю на кнопку c текстом "Далее"
						Then Я нажимаю на кнопку c текстом "Далее"
				"""

		#визард участинка (тип 2) физлицо, не РФ

		'participant-wizard-type2-fl-foreign':
				'prefix': 'participant-wizard-type2-fl-foreign'
				'description': 'Визард участинка (тип 2) физлицо, не РФ'
				'body':"""
						#Заполнение визарда
						Then Я выбираю значение "[string]" в поле с выпадающим списком "Страна"
						Then Я нажимаю на кнопку c текстом "Далее"
						Then Я нажимаю на кнопку c текстом "Сгенерировать"
						Then Я выбираю "Физическое лицо" из списка опций "Тип"
						Then Я кликаю по чекбоксу "Состоит на учете в налоговом органе РФ"
						Then Я заполняю поле "ИНН" новым кодом ИНН(ФЛ) "[string]"
						Then Я нажимаю на кнопку c текстом "Далее"
						Then Я нажимаю на кнопку c текстом "Далее"
				"""

		#визард участинка (тип 2) юрлицо, не РФ

		'participant-wizard-type2-ul-foreign':
				'prefix': 'participant-wizard-type2-ul-foreign'
				'description': 'Визард участинка (тип 2) юрлицо, не РФ'
				'body':"""
						#Заполнение визарда
						Then Я выбираю значение "[string]" в поле с выпадающим списком "Страна"
						Then Я нажимаю на кнопку c текстом "Далее"
						Then Я нажимаю на кнопку c текстом "Сгенерировать"
						Then Я выбираю "Юридическое лицо" из списка опций "Тип"
						Then Я кликаю по чекбоксу "Состоит на учете в налоговом органе РФ"
						Then Я заполняю поле "ИНН" новым кодом ИНН(ЮЛ) "[string]"
						Then Я заполняю поле "КПП" текстом "[string]"
						Then Я нажимаю на кнопку c текстом "Далее"
						Then Я нажимаю на кнопку c текстом "Далее"
				"""

		#визард участинка (тип 2) физлицо, не РФ, не состоит на учете

		'participant-wizard-type2-fl-foreign-unregistred':
				'prefix': 'participant-wizard-type2-fl-foreign-unregistred'
				'description': 'Визард участинка (тип 2) физлицо, не РФ, не состоит на учете'
				'body':"""
						#Заполнение визарда
						Then Я выбираю значение "[string]" в поле с выпадающим списком "Страна"
						Then Я нажимаю на кнопку c текстом "Далее"
						Then Я нажимаю на кнопку c текстом "Сгенерировать"
						Then Я выбираю "Физическое лицо" из списка опций "Тип"
						Then Я нажимаю на кнопку c текстом "Далее"
						Then Я нажимаю на кнопку c текстом "Далее"
				"""

		#визард участинка (тип 2) юрлицо, не РФ, не состоит на учете

		'participant-wizard-type2-ul-foreign-unregistred':
				'prefix': 'participant-wizard-type2-ul-foreign-unregistred'
				'description': 'Визард участинка (тип 2) юрлицо, не РФ, не состоит на учете'
				'body':"""
						#Заполнение визарда
						Then Я выбираю значение "[string]" в поле с выпадающим списком "Страна"
						Then Я нажимаю на кнопку c текстом "Далее"
						Then Я нажимаю на кнопку c текстом "Сгенерировать"
						Then Я выбираю "Юридическое лицо" из списка опций "Тип"
						Then Я нажимаю на кнопку c текстом "Далее"
						Then Я нажимаю на кнопку c текстом "Далее"
				"""

		#добавление контактного лица

		'add-contact-person':
				'prefix': 'add-contact-person'
				'description': 'Добавление контактного лица'
				'body':"""
						#Добавление контактного лица
						Then Я заполняю блок Контактные лица "[string]", "[string]", "[string]", "[string]", "[string]"
				"""

		#добавление контактной информации

		'add-contact-info':
				'prefix': 'add-contact-info'
				'description': 'Добавление контактной информации'
				'body':"""
						#Добавление контактной информации
						Then Я заполняю блок Контактная информация (Страна регистрации) "[string]", "[string]", "[string]", "[string]", "[string]", "[string]", "[string]"
				"""

		#добавление расчетного счета

		'add-checking-account':
				'prefix': 'add-checking-account'
				'description': 'Добавление расчетного счета'
				'body':"""
						#Добавление расчетного счета
						Then Я скроллю до блока "Расчетные счета"
						 And Я нажимаю на кнопку c заголовком "Добавляет расчетный счет"
						 And Я заполняю поле "Номер расчетного счета" текстом "[string]"
						 And Я выбираю значение "[string]" в поле с выпадающим списком "БИК"
						 And Я кликаю по чекбоксу "Признак использования в контрактной системе"
						Then Я нажимаю на кнопку c названием "Сохранение Создание банковского реквизита"
				"""

		#добавление лицевого счета

		'add-personal-account':
				'prefix': 'add-personal-account'
				'description': 'Добавление лицевого счета'
				'body':"""
						#Добавление лицевого счета
						Then Я скроллю до блока "Лицевые счета"
						 And Я нажимаю на кнопку c заголовком "Добавляет лицевой счет"
						 And Я заполняю поле "Номер лицевого счета" текстом "[string]"
						 And Я выбираю значение "[string]" в поле с выпадающим списком "Номер расчетного счета"
						 And Я кликаю по чекбоксу "Признак использования в контрактной системе"
						Then Я нажимаю на кнопку c названием "Сохранение Создание банковского реквизита"
				"""

		#добавление счета доверительного управления

		'add-trust-managment-account':
				'prefix': 'add-trust-managment-account'
				'description': 'Добавление счета доверительного управления'
				'body':"""
						#Добавление счета доверительного управления
						Then Я скроллю до блока "Счета доверительного управления"
						 And Я нажимаю на кнопку c заголовком "Добавляет счет доверительного управления"
						 And Я заполняю поле "Номер счета доверительного управления" текстом "[string]"
						 And Я выбираю значение "[string]" в поле с выпадающим списком "БИК"
						 And Я кликаю по чекбоксу "Признак использования в контрактной системе"
						Then Я нажимаю на кнопку c названием "Сохранение Создание банковского реквизита"
				"""

		#добавление контракта со специализированной организацией

		'add-organization-contact':
				'prefix': 'add-organization-contact'
				'description': 'Добавление контракта со специализированной организацией'
				'body':"""
						#Добавление контракта со специализированной организацией
						Then Я скроллю до блока "Контракты со специализированной организацией"
						 And Я нажимаю на кнопку c заголовком "Создание Контракты со специализированной организацией"
						 And Я заполняю поле "Номер контракта" текстом "[string]"
						 And Я заполняю календарь "Дата контракта"
						 And Я выбираю значение "[string]" в поле с выпадающим списком "Специализированная организация"
						 And Я заполняю календарь "Дата начала действия контракта"
						 And Я заполняю календарь "Дата окончания действия контракта"
						Then Я нажимаю на кнопку c названием "Сохранение Создание контракта со специализированной организацией"
				"""

		#создать новый ГРБС

		'new-grbs':
				'prefix': 'new-grbs'
				'description': 'Создать новый ГРБС'
				'body':"""
						#Создание нового ГРБС
						#переход к разделу "НСИ", "Участники", "ГРБС"
						Then Я открываю раздел системы "НСИ"
						Then Я выбираю в меню "Участники", "ГРБС"
						Then Я ожидаю, что заголовок содержит "Список ГРБС"
						Then Я нажимаю на кнопку создания
						#Заполнение визарда
						Then Я заполняю поле "ИНН" новым кодом ИНН(ЮЛ) "[string]"
						 And Я заполняю поле "КПП" текстом "[string]"
						Then Я нажимаю на кнопку подтверждения
						Then Я нажимаю на кнопку подтверждения
						Then Я ожидаю, что заголовок содержит "Создание ГРБС"
						Then Я заполняю календарь "Дата постановки на учет в налоговом органе"
						 And Я выбираю в (поле|фильтре) с выпадающим списком "Организационно-правовая форма"
						 And Я заполняю текстовый блок "Полное наименование", "[string]"
						 And Я заполняю текстовый блок "Краткое наименование", "[string]"
						 And Я заполняю поле "ОГРН" текстом "1234567890123"
						 And Я выбираю в поле с выпадающим списком "Головная организация"
						 And Я заполняю поле "Юридический адрес" текстом "LALALALALA"
						 And Я заполняю поле "ОКПО" текстом "12345678"
						 And Я выбираю в поле с выпадающим списком "ОКАТО"
						 And Я выбираю в поле с выпадающим списком "ОКТМО"
						 And Я выбираю в поле с выпадающим списком "ОКОГУ"
						 And Я выбираю в поле с выпадающим списком "ОКВЭД"
						 And Я заполняю поле "Место" текстом "121170 город Москва, пл Победы, дом 3Д"
						 And Я заполняю поле "Факс" текстом "12312312313123123123"
						#Добавление контактного лица
						Then Я заполняю блок Контактные лица "[string]", "[string]", "[string]", "[string]", "[string]"
						#Добавление расчетного счета
						Then Я скроллю до блока "Расчетные счета"
						 And Я нажимаю на кнопку c заголовком "Добавляет расчетный счет"
						 And Я заполняю поле "Номер расчетного счета" текстом "[string]"
						 And Я выбираю значение "[string]" в поле с выпадающим списком "БИК"
						 And Я кликаю по чекбоксу "Признак использования в контрактной системе"
						Then Я нажимаю на кнопку c названием "Сохранение Создание банковского реквизита"
						#Добавление лицевого счета
						Then Я скроллю до блока "Лицевые счета"
						 And Я нажимаю на кнопку c заголовком "Добавляет лицевой счет"
						 And Я заполняю поле "Номер лицевого счета" текстом "[string]"
						 And Я выбираю значение "[string]" в поле с выпадающим списком "Номер расчетного счета"
						 And Я кликаю по чекбоксу "Признак использования в контрактной системе"
						Then Я нажимаю на кнопку c названием "Сохранение Создание банковского реквизита"
						Then Я скроллю наверх
						 And Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация об ГРБС"
				"""

		#создать нового заказчика

		'new-сustomer':
				'prefix': 'new-сustomer'
				'description': 'Создать новый заказчика'
				'body':"""
						#Создание нового заказчика
						Then Я нажимаю на кнопку создания
						#Заполнение визарда
						Then Я заполняю поле "ИНН" новым кодом ИНН(ЮЛ) "[string]"
						 And Я заполняю поле "КПП" текстом "[string]"
						Then Я нажимаю на кнопку подтверждения
						Then Я нажимаю на кнопку подтверждения
						Then Я ожидаю, что заголовок содержит "Создание заказчика"
						Then Я заполняю календарь "Дата постановки на учет в налоговом органе"
						 And Я выбираю в (поле|фильтре) с выпадающим списком "Организационно-правовая форма"
						 And Я заполняю текстовый блок "Полное наименование", "[string]"
						 And Я заполняю текстовый блок "Краткое наименование", "[string]"
						 And Я заполняю поле "ОГРН" текстом "1234567890123"
						 And Я выбираю в поле с выпадающим списком "Головная организация"
						 And Я заполняю поле "Юридический адрес" текстом "LALALALALA"
						 And Я заполняю поле "Код по СПЗ" текстом "12345678901"
						 And Я заполняю поле "УНК бюджетополучателя" текстом "123456"
						 And Я выбираю в поле с выпадающим списком "ГРБС"
						 And Я выбираю в поле с выпадающим списком "Управляющий орган в КС"
						 And Я заполняю поле "ФИО контрактного управляющего / руководителя контрактной службы" текстом "ТЕСТОВОЕ ФИО"
						 And Я заполняю поле "Телефон контрактного управляющего / руководителя контрактной службы" текстом "1234567890112344"
						 And Я заполняю поле "E-MAIL контрактного управляющего / руководителя контрактной службы" текстом "test@test.ru"
						 And Я заполняю поле "ОКПО" текстом "12345678"
						 And Я выбираю в поле с выпадающим списком "ОКАТО"
						 And Я выбираю в поле с выпадающим списком "ОКТМО"
						 And Я выбираю в поле с выпадающим списком "ОКОГУ"
						 And Я выбираю в поле с выпадающим списком "ОКВЭД"
						 And Я заполняю поле "Место нахождения" текстом "121170 город Москва, пл Победы, дом 3Д"
						 And Я заполняю поле "Факс" текстом "12312312313123123123"
						#Добавление контактного лица
						Then Я заполняю блок Контактные лица "[string]", "[string]", "[string]", "[string]", "[string]"
						#Добавление расчетного счета
						Then Я скроллю до блока "Расчетные счета"
						 And Я нажимаю на кнопку c заголовком "Добавляет расчетный счет"
						 And Я заполняю поле "Номер расчетного счета" текстом "[string]"
						 And Я выбираю значение "[string]" в поле с выпадающим списком "БИК"
						 And Я кликаю по чекбоксу "Признак использования в контрактной системе"
						Then Я нажимаю на кнопку c названием "Сохранение Создание банковского реквизита"
						#Добавление лицевого счета
						Then Я скроллю до блока "Лицевые счета"
						 And Я нажимаю на кнопку c заголовком "Добавляет лицевой счет"
						 And Я заполняю поле "Номер лицевого счета" текстом "[string]"
						 And Я выбираю значение "[string]" в поле с выпадающим списком "Номер расчетного счета"
						 And Я кликаю по чекбоксу "Признак использования в контрактной системе"
						Then Я нажимаю на кнопку c названием "Сохранение Создание банковского реквизита"
						#Добавление счета доверительного управления
						Then Я скроллю до блока "Счета доверительного управления"
						 And Я нажимаю на кнопку c заголовком "Добавляет счет доверительного управления"
						 And Я заполняю поле "Номер счета доверительного управления" текстом "[string]"
						 And Я выбираю значение "[string]" в поле с выпадающим списком "БИК"
						 And Я кликаю по чекбоксу "Признак использования в контрактной системе"
						Then Я нажимаю на кнопку c названием "Сохранение Создание банковского реквизита"
						#Добавление контракта со специализированной организацией
						Then Я скроллю до блока "Контракты со специализированной организацией"
						 And Я нажимаю на кнопку c заголовком "Создание Контракты со специализированной организацией"
						 And Я заполняю поле "Номер контракта" текстом "[string]"
						 And Я заполняю календарь "Дата контракта"
						 And Я выбираю значение "[string]" в поле с выпадающим списком "Специализированная организация"
						 And Я заполняю календарь "Дата начала действия контракта"
						 And Я заполняю календарь "Дата окончания действия контракта"
						Then Я нажимаю на кнопку c названием "Сохранение Создание контракта со специализированной организацией"
						Then Я скроллю наверх
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация о заказчике"
				"""