'.source.feature':

		#создание новой амортизационной группы

		'reference-amortization-groupd':
				'prefix': 'reference-amortization-groupd'
				'description': 'Создание новой амортизационной группы'
				'body':"""
						#создание амортизационной группы
						#переход к разделу "НСИ", "Справочники", "Амортизационные группы"
						Then Я открываю раздел системы "НСИ"
						Then Я выбираю в меню "Справочники", "Амортизационные группы"
						Then Я ожидаю, что заголовок содержит "Список амортизационных групп"
						Then Я нажимаю на кнопку создания
						 And Я заполняю поле "Амортизационная группа" сгенерированным тегом "[string]"
						 And Я заполняю поле "Срок полезного использования" сгенерированным тегом "ТЕСТ"
						Then Я скроллю наверх
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация об амортизационной группе"
				"""

		#создание новой торговой площадки

		'reference-trading-paltform':
				'prefix': 'reference-trading-paltform'
				'description': 'Создание новой торговой площадки'
				'body':"""
						#создание торговой площадки
						#переход к разделу "НСИ", "Справочники", "Торговая площадка"
						Then Я открываю раздел системы "НСИ"
						Then Я выбираю в меню "Справочники", "Торговая площадка"
						Then Я ожидаю, что заголовок содержит "Список торговых площадок"
						Then Я нажимаю на кнопку создания
						 And Я заполняю поле "Торговая площадка" сгенерированным тегом "[string]"
						 And Я заполняю поле "Место проведения" сгенерированным тегом "МЕСТО ПРОВЕДЕНИЯ ТОРГОВОЙ ПЛОЩАДКИ"
						Then Я скроллю наверх
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация о торговой площадке"
				"""

		#создание новой переодичности поставки

		'reference-pereodicity':
				'prefix': 'reference-pereodicity'
				'description': 'Создание новой переодичности поставки'
				'body':"""
						#создание переодичности поставки
						#переход к разделу "НСИ", "Справочники", "Периодичность поставки"
						Then Я открываю раздел системы "НСИ"
						Then Я выбираю в меню "Справочники", "Периодичность поставки"
						Then Я ожидаю, что заголовок содержит "Список периодичностей поставки"
						Then Я нажимаю на кнопку создания
						 And Я заполняю поле "Периодичность поставки" сгенерированным тегом "[string]"
						Then Я скроллю наверх
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация о периодичности поставки"
				"""

		#создание нового нарушения

		'reference-interruption':
				'prefix': 'reference-interruption'
				'description': 'Создание нового нарушения'
				'body':"""
						#создание нарушения
						#переход к разделу "НСИ", "Справочники", "Нарушения"
						Then Я открываю раздел системы "НСИ"
						Then Я выбираю в меню "Справочники", "Нарушения"
						Then Я ожидаю, что заголовок содержит "Список нарушений"
						Then Я нажимаю на кнопку создания
						 And Я заполняю поле "Код типа нарушения" сгенерированным тегом "[string]"
						 And Я заполняю поле "Тип нарушения" сгенерированным тегом "ТЕСТОВЫЙ ТИП НАРУШЕНИЯ"
						 And Я заполняю текстовый блок "Описание", "ТЕСТОВОЕ ОПИСАНИЕ НАРУШЕНИЯ"
						Then Я скроллю наверх
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация о нарушении"
				"""

		#создание новой причины измененеия плана

		'reference-change-reason':
				'prefix': 'reference-change-reason'
				'description': 'Cоздание новой причины измененеия плана'
				'body':"""
						#создание причины измененеия плана
						#переход к разделу "НСИ", "Справочники", "Причины изменения планов"
						Then Я открываю раздел системы "НСИ"
						Then Я выбираю в меню "Справочники", "Причины изменения планов"
						Then Я ожидаю, что заголовок содержит "Список причин изменения планов"
						Then Я нажимаю на кнопку создания
						 And Я заполняю поле "Наименование причины изменения" сгенерированным тегом "[string]"
						 And Я выбираю в поле с выпадающим списком "Тип"
						Then Я скроллю наверх
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация причине изменения плана"
				"""