'.source.feature':

		'new-amortization-groupd-blank':
				'prefix': 'new-amortization-groupd-blank'
				'description': 'создание новой амортизационной группы'
				'body':"""
						#создание амортизационной группы
						Then Я нажимаю на кнопку создания
						 And Я заполняю поле "Амортизационная группа" сгенерированным тегом "[string]"
						 And Я заполняю поле "Срок полезного использования" сгенерированным тегом "ТЕСТ"
						Then Я скроллю наверх
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация об амортизационной группе"
				"""

		'new-trading-paltform-blank':
				'prefix': 'new-trading-paltform-blank'
				'description': 'создание новой торговой площадки'
				'body':"""
						#создание торговой площадки
						Then Я нажимаю на кнопку создания
						 And Я заполняю поле "Торговая площадка" сгенерированным тегом "[string]"
						 And Я заполняю поле "Место проведения" сгенерированным тегом "МЕСТО ПРОВЕДЕНИЯ ТОРГОВОЙ ПЛОЩАДКИ"
						Then Я скроллю наверх
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация о торговой площадке"
				"""

		'new-pereodicity-blank':
				'prefix': 'new-pereodicity-blank'
				'description': 'создание новой переодичности поставки'
				'body':"""
						#создание переодичности поставки
						Then Я нажимаю на кнопку создания
						 And Я заполняю поле "Периодичность поставки" сгенерированным тегом "[string]"
						Then Я скроллю наверх
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация о периодичности поставки"
				"""

		'new-interruption-blank':
				'prefix': 'new-interruption-blank'
				'description': 'создание нового нарушения'
				'body':"""
						#создание нарушения
						Then Я нажимаю на кнопку создания
						 And Я заполняю поле "Код типа нарушения" сгенерированным тегом "[string]"
						 And Я заполняю поле "Тип нарушения" сгенерированным тегом "ТЕСТОВЫЙ ТИП НАРУШЕНИЯ"
						 And Я заполняю текстовый блок "Описание", "ТЕСТОВОЕ ОПИСАНИЕ НАРУШЕНИЯ"
						Then Я скроллю наверх
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация о нарушении"
				"""

		'new-change-reason-blank':
				'prefix': 'new-change-reason-blank'
				'description': 'создание новой причины измененеия плана'
				'body':"""
						#создание причины измененеия плана
						Then Я нажимаю на кнопку создания
						 And Я заполняю поле "Наименование причины изменения" сгенерированным тегом "[string]"
						 And Я выбираю в поле с выпадающим списком "Тип"
						Then Я скроллю наверх
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация причине изменения плана"
				"""

		'new-document-rubricator-blank':
				'prefix': 'new-document-rubricator-blank'
				'description': 'создание нового рубрикатора НПСИ'
				'body':"""
						#создание рубрикатора НПСИ
						Then Я нажимаю на кнопку создания
						 And Я выбираю в поле с выпадающим списком "Вышестоящий рубрикатор"
						 And Я заполняю поле "Название рубрикатора" сгенерированным тегом "[string]"
						Then Я скроллю наверх
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация о НПСИ"
				"""

		'new-reference-document-blank':
				'prefix': 'new-reference-document-blank'
				'description': 'создание нового справочника НПСИ'
				'body':"""
						#создание справочника НПСИ
						Then Я нажимаю на кнопку создания
						 And Я заполняю поле "Название документа" сгенерированным тегом "[string]"
						 And Я заполняю календарь "Дата принятия"
						 And Я заполняю календарь "Дата вступления в силу"
						 And Я заполняю календарь "Дата публикации в Системе"
						 And Я выбираю в поле с выпадающим списком "Рубрикатор НПСИ"
						 And Я загружаю файл "uploadFiles/test.jpg" в поле "Документ"
						Then Я скроллю наверх
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация о НПСИ"
				"""

		'new-external-resource-blank':
				'prefix': 'new-external-resource-blank'
				'description': 'создание нового справочника внешних ресурсов'
				'body':"""
						#создание справочника внешних ресурсов
						Then Я нажимаю на кнопку создания
						 And Я заполняю поле "Название внешнего ресурса" сгенерированным тегом "[string]"
						 And Я заполняю поле "Тематика" сгенерированным тегом "ТЕСТОВАЯ ТЕМАТИКА"
						 And Я заполняю поле "Ссылка" сгенерированным тегом "ТЕСТОВАЯ ССЫЛКА"
						 And Я выбираю в поле с выпадающим списком "Рубрикатор"
						Then Я скроллю наверх
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация о внешнем ресурсе"
				"""

		'new-position-blank':
				'prefix': 'new-position-blank'
				'description': 'создание нового справочника должностей'
				'body':"""
						#создание справочника должностей
						Then Я нажимаю на кнопку создания
						 And Я заполняю поле "Наименование должности" сгенерированным тегом "[string]"
						Then Я скроллю наверх
						Then Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация о должности"
				"""