'.source.feature':

		#новый СПГЗ

		'new-spgz':
				'prefix': 'new-spgz'
				'description': 'Новый СПГЗ'
				'body':"""
						#переход к разделу "НСИ", "Справочник КПГЗ / СПГЗ", "CПГЗ"
						Then Я открываю раздел системы "НСИ"
						Then Я выбираю в меню "Справочник КПГЗ / СПГЗ", "CПГЗ"
						Then Я ожидаю, что заголовок содержит "Список СПГЗ"
						#создаем СПГЗ
						Then Я нажимаю на кнопку создания
						 And Я заполняю поле "Наименование СПГЗ" сгенерированным тегом "Тестовый СПГЗ"
						 And Я выбираю сгенерированный тег "[string]" в поле с выпадающим списком "КПГЗ"
						 And Я выбираю значение "[string]" в поле с выпадающим списком "Код ОКПД"
						 And Я выбираю значение "Полугодие" в поле с выпадающим списком "Единицы измерения"
						 And Я выбираю радиокнопку "Признак стандартизированной позиции", "Нет"
						 And Я выбираю радиокнопку "Признак возможности определения поставщика путем проведения конкурса с ограниченным участием", "Нет"
						 And Я выбираю радиокнопку "Признак применимости критерия жизненного цикла (в соответствии с частью 3 статьи 32 44-ФЗ)", "Нет"
						 And Я выбираю радиокнопку "Признак результата интеллектуальной деятельности либо НИОКР (в соответствии с частью 6 статьи 32 44-ФЗ)", "Нет"
						 And Я выбираю радиокнопку "Признак создания произведения искусства (в соответствии с частью 6 статьи 32 44-ФЗ)", "Нет"
						 And Я выбираю радиокнопку "Признак возможности определения поставщика путем проведения двухэтапного конкурса", "Нет"
						 And Я выбираю радиокнопку "Признак возможности определения поставщика путем проведения запроса предложений", "Нет"
						 And Я выбираю радиокнопку "Преподавательские услуги физическим лицом", "Нет"
						 And Я выбираю радиокнопку "Услуги экскурсоводов физическим лицом", "Нет"
						 And Я выбираю радиокнопку "Признак возможности проведения закупки на единицу продукции", "Нет"
						 And Я выбираю радиокнопку "Требует нормирования", "Нет"
						Then Я скроллю наверх
						 And Я нажимаю на кнопку сохранения
						Then Я ожидаю, что заголовок содержит "Информация о СПГЗ"
				"""