'.source.feature':

    'Создать СПГЗ':
      'prefix': 'new-spgz-blank'
      'description': 'Создать СПГЗ (бланк)'
      'body':"""
          #создать новый СПГЗ
          #@@CreateNew.SPGZ.blank[v1.0.0]
          When Я нажимаю на кнопку создания
          And  Я заполняю генерируемое поле "Наименование СПГЗ", "<string>"
          And  Я выбираю в выпадающем списке с деревом сгенерированный "КПГЗ", "<string>"
          And  Я нажимаю на кнопку закрытия
          And  Я выбираю в выпадающем списке с деревом "Код ОКПД", "<string>"
          And  Я выбираю в выпадающем списке с деревом "Код ОКПД-2", "<string>"
          And  Я выбираю в выпадающем списке с деревом "Единицы измерения", "<string>"
          And  Я выбираю радиокнопку "Признак стандартизированной позиции", "<string>"
          And  Я выбираю радиокнопку "Признак возможности определения поставщика путем проведения конкурса с ограниченным участием", "<string>"
          And  Я выбираю радиокнопку "Признак применимости критерия жизненного цикла (в соответствии с частью 3 статьи 32 44-ФЗ)", "<string>"
          And  Я выбираю радиокнопку "Признак результата интеллектуальной деятельности либо НИОКР (в соответствии с частью 6 статьи 32 44-ФЗ)", "<string>"
          And  Я выбираю радиокнопку "Признак создания произведения искусства (в соответствии с частью 6 статьи 32 44-ФЗ)", "<string>"
          And  Я выбираю радиокнопку "Признак возможности определения поставщика путем проведения двухэтапного конкурса", "<string>"
          And  Я выбираю радиокнопку "Признак возможности определения поставщика путем проведения запроса предложений", "<string>"
          And  Я выбираю радиокнопку "Преподавательские услуги физическим лицом", "<string>"
          And  Я выбираю радиокнопку "Услуги экскурсоводов физическим лицом", "<string>"
          And  Я выбираю радиокнопку "Признак возможности проведения закупки на единицу продукции", "<string>"
          And  Я выбираю радиокнопку "Требует нормирования", "<string>"
          And  Я скроллю наверх
          And  Я нажимаю на кнопку сохранения
          Then Я ожидаю, что заголовок содержит "Информация о СПГЗ"
      """
