'.source.feature':

		#определения шагов given

		'given-login':
				'prefix': 'given-login'
				'description': 'login.js'
				'body':'Я логинюсь под(?: (сгенерированным))? пользователем "([^"]*)"'

		'given-logout':
				'prefix': 'given-logout'
				'description': 'logout.js'
				'body':'Я разлогиниваюсь'

		'given-selfRegistration':
				'prefix': 'given-selfRegistration'
				'description': 'selfRegistration.js'
				'body':'Я перехожу к форме саморегистрации'

		#определения шагов then

		'then-checkTitleHtml':
				'prefix': 'then-checkTitleHtml'
				'description': 'checkTitleHtml.js'
				'body':'Я ожидаю, что название раздела "([^"]*)"'

		'then-checkTitle':
				'prefix': 'then-checkTitle'
				'description': 'checkTitle.js'
				'body':'Я ожидаю, что заголовок содержит "([^"]*)"'

		'then-checkCountElementsTable':
				'prefix': 'then-checkCountElementsTable'
				'description': 'checkCountElementsTable.js'
				'body':'Я ожидаю, что в списке(?: "([^"]*)")? будет элементов = (\d*)'

		'then-waitUntilLoaded':
				'prefix': 'then-waitUntilLoaded'
				'description': 'waitUntilLoaded.js'
				'body':'Я ожидаю окончания загрузки(?: "([^"]*)")?'

		'then-checkRadioValue':
				'prefix': 'then-checkRadioValue'
				'description': 'checkRadioValue.js'
				'body':'Я ожидаю что радиокнопка "([^"]*)" установлена в положении "([^"]*)"'

		#определения шагов when

		'when-home':
				'prefix': 'when-home'
				'description': 'home.js'
				'body':'Я перехожу на главную страницу'

		'when-section':
				'prefix': 'when-section'
				'description': 'section.js'
				'body':'Я открываю раздел системы "([^"]*)"'

		'when-menu':
				'prefix': 'when-menu'
				'description': 'menu.js'
				'body':'Я выбираю в меню "([^"]*)"(?:, "([^"]*)")?'

		'when-button':
				'prefix': 'when-button'
				'description': 'button.js'
				'body':'Я нажимаю на кнопку(?: (создания|редактирования|сохранения|удаления|просмотра|закрытия|выбора|подтверждения))?(?: c (текстом|заголовком|названием) "([^"]*)")?(?: в (поле|блоке) (".*"))?(?: (модального окна))?'

		'when-modalTab':
				'prefix': 'when-modalTab'
				'description': 'modalTab.js'
				'body':'Я переключаюсь на вкладку "([^"]*)"(?: в (поле|блоке) (".*"))?(?: (модального окна))?'

		'when-link':
				'prefix': 'when-link'
				'description': 'link.js'
				'body':'Я нажимаю на(?: (сгенерированную))? ссылку "([^"]*)"'

		'when-wait':
				'prefix': 'when-wait'
				'description': 'wait.js'
				'body':'Я жду (\d+) сек\.'

		'when-input':
				'prefix': 'when-input'
				'description': 'input.js'
				'body':'Я заполняю (фильтр|поле) "([^"]*)" (текстом|уникальным кодом|новым кодом ИНН\(ЮЛ\)|новым кодом ИНН\(ФЛ\)|сгенерированным тегом|новым кодом СНИЛС|уникальным email\'ом) "([^"]*)"(?: в (поле|блоке) (".*"))?(?: (модального окна))?'

		'when-multiselectFilter':
				'prefix': 'when-multiselectFilter'
				'description': 'multiselectFilter.js'
				'body':'Я выбираю опцию "([^"]*)" фильтра "([^"]*)"(?: в (поле|блоке) (".*"))?(?: (модального окна))?'

		'when-textarea':
				'prefix': 'when-textarea'
				'description': 'textarea.js'
				'body':'Я заполняю(?: (сгенерированный))? текстовый блок "([^"]*)", "([^"]*)"'

		'when-ckeditor':
				'prefix': 'when-ckeditor'
				'description': 'ckeditor.js'
				'body':'Я заполняю(?: (сгенерированный))? текстовый редактор(?: "([^"]*)",)? "([^"]*)"'

		'when-datepicker':
				'prefix': 'when-datepicker'
				'description': 'datepicker.js'
				'body':'Я заполняю календарь "([^"]*)"(?:, "([^"]*)")?'

		'when-autocomplete':
				'prefix': 'when-autocomplete'
				'description': 'autocomplete.js'
				'body':'Я выбираю (?:(значение|сгенерированный тег) "([^"]*)" )?в (поле|фильтре) с выпадающим списком "([^"]*)"(?: в (поле|блоке) (".*"))?(?: (модального окна))?'

		'when-select':
				'prefix': 'when-select'
				'description': 'select.js'
				'body':'Я выбираю(?: "([^"]*)")? из списка опций "([^"]*)"(?: в (поле|блоке) (".*"))?(?: (модального окна))?'

		'when-checkbox':
				'prefix': 'when-checkbox'
				'description': 'checkbox.js'
				'body':'Я кликаю по чекбоксу "([^"]*)"(?: в (поле|блоке) (".*"))?(?: (модального окна))?'

		'when-radio':
				'prefix': 'when-radio'
				'description': 'radio.js'
				'body':'Я выбираю радиокнопку "([^"]*)", "([^"]*)"'

		'when-file':
				'prefix': 'when-file'
				'description': 'file.js'
				'body':'Я загружаю файл "([^"]*)" в поле "([^"]*)"(?: в (поле|блоке) (".*"))?(?: (модального окна))?'

		'when-scrollDirection':
				'prefix': 'when-scrollDirection'
				'description': 'scrollDirection.js'
				'body':'Я скроллю (наверх|вниз)'

		'when-scrollBlock':
				'prefix': 'when-scrollBlock'
				'description': 'scrollBlock.js'
				'body':'Я скроллю до блока "([^"]*)"'

		'when-clickTableTd':
				'prefix': 'when-clickTableTd'
				'description': 'clickTableTd.js'
				'body':'Я выбираю элемент таблицы под номером (\d+)(?: в (поле|блоке) (".*"))?(?: (модального окна))?'