'.source.feature':



    #given.js
    'given-custom-login':
        'prefix': 'given-custom-login'
        'description': 'Я логинюсь под пользователем "(.*)"'
        'body': """
            Я логинюсь под пользователем "(.*)"
        """



    #then.js
    'then-check-checkTitleHtml':
        'prefix': 'then-check-checkTitleHtml'
        'description': 'Я ожидаю, что название раздела "(*)"'
        'body': """
        Я ожидаю, что название раздела "(*)"
    """

    'then-check-checkTitle':
        'prefix': 'then-check-checkTitle'
        'description': 'Я ожидаю, что заголовок содержит "(*)"'
        'body': """
        Я ожидаю, что заголовок содержит "(*)"
    """

    'then-check-checkCountElementsTable':
        'prefix': 'then-check-checkCountElementsTable'
        'description': 'Я ожидаю, что в списке "(*)" будет элементов = (\\d*)'
        'body': """
        Я ожидаю, что в списке "(*)" будет элементов = (\\d*)
    """

    'then-check-checkValuePresence':
        'prefix': 'then-check-checkValuePresence'
        'description': 'Я ожидаю, что форма содержит (генерируемое|) значение "(*)"'
        'body': """
        Я ожидаю, что форма содержит (генерируемое|) значение "(*)"
    """

    #when.js
    'when-custom-home':
        'prefix': 'when-custom-home'
        'description': 'Я перехожу на главную страницу'
        'body': """
        Я перехожу на главную страницу
    """

    'when-custom-section':
        'prefix': 'when-custom-section'
        'description': 'Я открываю раздел системы "(*)"'
        'body': """
        Я открываю раздел системы "(*)"
    """

    'when-custom-menu':
        'prefix': 'when-custom-menu'
        'description': 'Я выбираю в меню "(*)", "(*)"'
        'body': """
        Я выбираю в меню "(*)", "(*)"
    """

    'when-custom-button':
        'prefix': 'when-custom-button'
        'description': 'Я нажимаю на кнопку (создания|редактирования|сохранения|удаления|просмотра|закрытия|подтверждения удаления|с текстом) "(.*|)"'
        'body': """
        Я нажимаю на кнопку (создания|редактирования|сохранения|удаления|просмотра|закрытия|подтверждения удаления|с текстом) "(.*|)"
    """

    'when-custom-link':
        'prefix': 'when-custom-link'
        'description': 'Я нажимаю на (сгенерированную|) ссылку "(*)"'
        'body': """
        Я нажимаю на (сгенерированную|) ссылку "(*)"
    """

    'when-action-wait':
        'prefix': 'when-action-wait'
        'description': 'Я жду (\\d+) сек.'
        'body': """
        Я жду (\\d+) сек.
    """

    'when-custom-fields-input':
        'prefix': 'when-custom-fields-input'
        'description': 'Я заполняю (генерируемое|) поле (фильтра|) "(*)", "(*)"'
        'body': """
        Я заполняю (генерируемое|) поле (фильтра|) "(*)", "(*)"
    """

    'when-custom-fields-textarea':
        'prefix': 'when-custom-fields-textarea'
        'description': 'Я заполняю (сгенерированный|) текстовый блок "(*)", "(*)"'
        'body': """
        Я заполняю (сгенерированный|) текстовый блок "(*)", "(*)"
    """

    'when-custom-fields-enum':
        'prefix': 'when-custom-fields-enum'
        'description': 'Я заполняю (генерируемое|) поле перечисления "(*)", "(*)"'
        'body': """
        Я заполняю (генерируемое|) поле перечисления "(*)", "(*)"
    """

    'when-custom-fields-datepicker':
        'prefix': 'when-custom-fields-datepicker'
        'description': 'Я заполняю календарь "(*)", "(*)"'
        'body': """
        Я заполняю календарь "(*)", "(*)"
    """

    'when-custom-fields-autocomplete':
        'prefix': 'when-custom-fields-autocomplete'
        'description': 'Я выбираю в выпадающем списке (с деревом|) (сгенерированный|) "(*)", "(*)"'
        'body': """
        Я выбираю в выпадающем списке (с деревом|) (сгенерированный|) "(*)", "(*)"
    """

    'when-custom-fields-checkbox':
        'prefix': 'when-custom-fields-checkbox'
        'description': 'Я выбираю чекбокс "(*)"'
        'body': """
        Я выбираю чекбокс "(*)"
    """

    'when-custom-fields-radio':
        'prefix': 'when-custom-fields-radio'
        'description': 'Я выбираю радиокнопку "(*)", "(*)"'
        'body': """
        Я выбираю радиокнопку "(*)", "(*)"
    """

    'when-custom-fields-file':
        'prefix': 'when-custom-fields-file'
        'description': 'Я загружаю файл в поле "(*)", "(*)"'
        'body': """
        Я загружаю файл в поле "(*)", "(*)"
    """

    'when-custom-scroll_direction':
        'prefix': 'when-custom-scroll_direction'
        'description': 'Я скроллю (наверх|вниз)'
        'body': """
        Я скроллю (наверх|вниз)
    """

    'when-custom-scroll_block':
        'prefix': 'when-custom-scroll_block'
        'description': 'Я скроллю до блока "(*)"'
        'body': """
        Я скроллю до блока "(*)"
    """

    'when-custom-click_table_td':
        'prefix': 'when-custom-click_table_td'
        'description': 'Я выбираю в таблице "(*)" элемент под номером "(*)"'
        'body': """
        Я выбираю в таблице "(*)" элемент под номером "(*)"
    """

    'when-custom-block-button':
        'prefix': 'when-custom-block-button'
        'description': 'Я (сохраняю|закрываю|редактирую) блок "(*)"'
        'body': """
        Я (сохраняю|закрываю|редактирую) блок "(*)"
    """


    #when.comission.js
    'when-custom-comission-comission_members':
        'prefix': 'when-custom-comission-comission_members'
        'description': 'Я добавляю всех членов комиссии'
        'body': """
        Я добавляю всех членов комиссии
    """


    #when.participant.js
    'when-custom-participant-wizard':
        'prefix': 'when-custom-participant-wizard'
        'description': 'Я заполняю визард для (заказчика|уполномоченного органа)'
        'body': """
        Я заполняю визард для (заказчика|уполномоченного органа)
    """

    'when-custom-participant-wizard_2':
        'prefix': 'when-custom-participant-wizard_2'
        'description': 'Я заполняю визард для (поставщика) (с использованием ИНН|) (ЮЛ|ФЛ) (ИП|ФЛ|ЮЛ|) "(*)"'
        'body': """
        Я заполняю визард для (поставщика) (с использованием ИНН|) (ЮЛ|ФЛ) (ИП|ФЛ|ЮЛ|) "(*)"
    """

    'when-custom-participant-phone':
        'prefix': 'when-custom-participant-phone'
        'description': 'Я заполняю поле с номером телефона "([^"]*)",? ?"?([^"]*)"'
        'body': """
        Я заполняю поле с номером телефона "([^"]*)",? ?"?([^"]*)"
    """

    'when-custom-participant-contact_block':
        'prefix': 'when-custom-participant-contact_block'
        'description': 'Я заполняю блок Контактные лица "(*)", "(*)", "(*)", "(*)", "(*)"'
        'body': """
        Я заполняю блок Контактные лица "(*)", "(*)", "(*)", "(*)", "(*)"
    """

    'when-custom-participant-contact_block_foreigner':
        'prefix': 'when-custom-participant-contact_block_foreigner'
        'description': 'Я заполняю блок Контактная информация \\(Страна регистрации\\) "(*)", "(*)", "(*)", "(*)", "(*)", "(*)", "(*)"'
        'body': """
        Я заполняю блок Контактная информация \\(Страна регистрации\\) "(*)", "(*)", "(*)", "(*)", "(*)", "(*)", "(*)"
    """
