'.source.feature':

		#новый пользователь

		'new-user':
				'prefix': 'new-user'
				'description': 'Новый пользователь'
				'body':"""
						Then Я нажимаю на кнопку создания
						 And Я заполняю поле "Фамилия" текстом "Иванов" модального окна
						 And Я заполняю поле "Имя" текстом "Иван" модального окна
						 And Я заполняю поле "Отчество" текстом "Иванович"
						 And Я заполняю поле "Номер СНИЛС" новым кодом СНИЛС "12324234"
						 And Я заполняю поле "Подразделение" текстом "Подразделение"
						Then Я нажимаю на кнопку c текстом "Нажмите чтобы выбрать" модального окна
						 And Я выбираю элемент таблицы под номером 1 модального окна
						Then Я нажимаю на кнопку выбора модального окна
						Then Я заполняю поле "Телефон" текстом "1234567890" модального окна
						 And Я заполняю поле "Должность" текстом "Биг босс" модального окна
						 And Я кликаю по чекбоксу "Руководитель" модального окна
						 And Я заполняю поле "Email" уникальным email'ом "ТЕСТОВЫЙ EMAIL" модального окна
						 And Я заполняю поле "Логин" уникальным кодом "ЛОГИН" модального окна
						 And Я кликаю по чекбоксу "Изменить пароль при следующем входе" модального окна
						Then Я переключаюсь на вкладку "Присвоение ролей" модального окна
						 And Я заполняю поле "Название" текстом "тестовое название" модального окна
						 And Я заполняю поле "Номер" текстом "666" модального окна
						 And Я заполняю поле "Срок" текстом "01.02.2017" модального окна
						 And Я заполняю поле "по" текстом "01.02.2017" модального окна
						 And Я заполняю поле "Дата документа" текстом "01.02.2017" модального окна
						 And Я загружаю файл "uploadFiles/test.jpg" в поле "Загрузить документ" модального окна
						Then Я нажимаю на кнопку c текстом "Добавить роль" модального окна
						 And Я нажимаю на кнопку выбора модального окна
						Then Я кликаю по чекбоксу "Для организации" модального окна
						Then Я нажимаю на кнопку сохранения модального окна
						Then Я нажимаю на кнопку закрытия модального окна
						Then Я нажимаю на кнопку закрытия модального окна
						Then Я заполняю фильтр "Логин" уникальным кодом "ЛОГИН"
						 And Я жду 5 сек.
						Then Я выбираю элемент таблицы под номером 1
						Then Я нажимаю на кнопку c текстом "Изменить пароль"
						 And Я заполняю поле "Пароль" текстом "l9Ye9Da1Rn4Q" модального окна
						 And Я заполняю поле "Подтверждение пароля" текстом "l9Ye9Da1Rn4Q" модального окна
						Then Я нажимаю на кнопку сохранения модального окна
						Then Я нажимаю на кнопку закрытия
				"""

		#новый пользователь (саморегистрация)

		'new-user-selfregister':
				'prefix': 'new-user-selfregister'
				'description': 'Новый пользователь(саморегистрация)'
				'body':"""
						Then Я разлогиниваюсь
						Then Я перехожу к форме саморегистрации
						Then Я нажимаю на кнопку создания
						 And Я заполняю поле "Фамилия" текстом "Иванов"
						 And Я заполняю поле "Имя" текстом "Иван"
						 And Я заполняю поле "Отчество" текстом "Иванович"
						 And Я заполняю поле "Номер СНИЛС" новым кодом СНИЛС "12324234"
						 And Я заполняю поле "Подразделение" текстом "Подразделение"
						Then Я нажимаю на кнопку c текстом "Не задано"
						 And Я выбираю элемент таблицы под номером 1 модального окна
						Then Я нажимаю на кнопку выбора модального окна
						Then Я заполняю поле "Телефон" текстом "1234567890"
						 And Я заполняю поле "Должность" текстом "Биг босс"
						 And Я кликаю по чекбоксу "Руководитель"
						 And Я заполняю поле "Email" уникальным email'ом "ТЕСТОВЫЙ EMAIL"
						Then Я нажимаю на кнопку c текстом "Далее"
						 And Я заполняю поле "Название" текстом "тестовое название"
						 And Я заполняю поле "Номер" текстом "666"
						 And Я заполняю поле "Срок" текстом "01.02.2017"
						 And Я заполняю поле "по" текстом "01.02.2017"
						 And Я заполняю поле "Дата документа" текстом "01.02.2017"
						Then Я загружаю файл "uploadFiles/test.jpg" в поле "Загрузить документ"
						 And Я нажимаю на кнопку c текстом "Добавить полномочия"
						Then Я нажимаю на кнопку выбора модального окна
						Then Я кликаю по чекбоксу "Для организации"
						Then Я нажимаю на кнопку c текстом "Далее"
						Then Я нажимаю на кнопку c текстом "Подтвердить и зарегистрироваться"
						Then Я нажимаю на кнопку закрытия
						Then Я логинюсь под пользователем "modifier"
				"""

		#новая заявка на изменение пользователя(существующий пользователь)

		'new-user-update-current':
				'prefix': 'new-user-update-current'
				'description': 'Новая заявка на изменение пользователя(существующий пользователь)'
				'body':"""
						When Я открываю раздел системы "Личный кабинет"
						Then Я нажимаю на ссылку "Создать заявку на изменение данных"
						#<-- изменение нужных полей -->
						Then Я нажимаю на кнопку c названием "Далее"
						Then Я нажимаю на кнопку c названием "Далее"
						Then Я нажимаю на кнопку c названием "Отправить заявку на изменение данных"
						 And Я заполняю текстовый блок "Причина внесения изменений", "причина внесения изменений"
						Then Я нажимаю на кнопку c текстом "Сохранить и отправить"
				"""

		#новая заявка на изменение пользователя(новый пользователь)

		'new-user-update-new':
				'prefix': 'new-user-update-new'
				'description': 'Новая заявка на изменение пользователя(новый пользователь)'
				'body':"""
						#создание новго пользователя
						Then Я нажимаю на кнопку создания
						 And Я заполняю поле "Фамилия" текстом "Иванов" модального окна
						 And Я заполняю поле "Имя" текстом "Иван" модального окна
						 And Я заполняю поле "Отчество" текстом "Иванович"
						 And Я заполняю поле "Номер СНИЛС" новым кодом СНИЛС "12324234"
						 And Я заполняю поле "Подразделение" текстом "Подразделение"
						Then Я нажимаю на кнопку c текстом "Нажмите чтобы выбрать" модального окна
						 And Я выбираю элемент таблицы под номером 1 модального окна
						Then Я нажимаю на кнопку выбора модального окна
						Then Я заполняю поле "Телефон" текстом "1234567890" модального окна
						 And Я заполняю поле "Должность" текстом "Биг босс" модального окна
						 And Я кликаю по чекбоксу "Руководитель" модального окна
						 And Я заполняю поле "Email" уникальным email'ом "ТЕСТОВЫЙ EMAIL" модального окна
						 And Я заполняю поле "Логин" уникальным кодом "ЛОГИН" модального окна
						 And Я кликаю по чекбоксу "Изменить пароль при следующем входе" модального окна
						Then Я переключаюсь на вкладку "Присвоение ролей" модального окна
						 And Я заполняю поле "Название" текстом "тестовое название" модального окна
						 And Я заполняю поле "Номер" текстом "666" модального окна
						 And Я заполняю поле "Срок" текстом "01.02.2017" модального окна
						 And Я заполняю поле "по" текстом "01.02.2017" модального окна
						 And Я заполняю поле "Дата документа" текстом "01.02.2017" модального окна
						 And Я загружаю файл "uploadFiles/test.jpg" в поле "Загрузить документ" модального окна
						Then Я нажимаю на кнопку c текстом "Добавить роль" модального окна
						 And Я нажимаю на кнопку выбора модального окна
						Then Я кликаю по чекбоксу "Для организации" модального окна
						Then Я нажимаю на кнопку сохранения модального окна
						Then Я нажимаю на кнопку закрытия модального окна
						Then Я нажимаю на кнопку закрытия модального окна
						Then Я заполняю фильтр "Логин" уникальным кодом "ЛОГИН"
						 And Я жду 5 сек.
						Then Я выбираю элемент таблицы под номером 1
						Then Я нажимаю на кнопку c текстом "Изменить пароль"
						 And Я заполняю поле "Пароль" текстом "l9Ye9Da1Rn4Q" модального окна
						 And Я заполняю поле "Подтверждение пароля" текстом "l9Ye9Da1Rn4Q" модального окна
						Then Я нажимаю на кнопку сохранения модального окна
						Then Я нажимаю на кнопку закрытия
						Then Я разлогиниваюсь
						#логин под новым пользователем
						Then Я логинюсь под пользователем "ЛОГИН"
						#создание заявки
						When Я открываю раздел системы "Личный кабинет"
						Then Я нажимаю на ссылку "Создать заявку на изменение данных"
						#<-- изменение нужных полей -->
						Then Я нажимаю на кнопку c названием "Далее"
						Then Я нажимаю на кнопку c названием "Далее"
						Then Я нажимаю на кнопку c названием "Отправить заявку на изменение данных"
						 And Я заполняю текстовый блок "Причина внесения изменений", "причина внесения изменений"
						Then Я нажимаю на кнопку c текстом "Сохранить и отправить"
						Then Я разлогиниваюсь
						#логин под модифаером
						Then Я логинюсь под пользователем "modifier"
				"""